{
  "application_name": "TO_FILL",
  "application_package": "TO_FILL",
  "channel": "alpha",
  "rollout_percentage": "0.1",
  "app_bundle_path": "app.aab",
  "client_secret_path": "play-store-authentication.json"
}
